@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.header__square-pic {
  margin: 0;
  height: 568px;
  width: 568px;
  display: flex;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
  animation: rotation 20s infinite linear;
}
