.footer__column-links {
  color: white;
  margin: 20px 0 16px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
