@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  margin: 0;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.logo {
  height: 32px;
  width: 228px;
}
.logo_place_header {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
.header__title {
  margin: 0;
  position: relative;
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}
.header__subtitle {
  margin: 0;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .5s ease;
}
.header__link:hover {
  opacity: .7;
}
.header__main-illustration {
  margin: 0;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  object-fit: cover;
}
.header__square-pic {
  margin: 0;
  height: 568px;
  width: 568px;
  display: flex;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
  animation: rotation 20s infinite linear;
}
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.techniques {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.cards {
  margin: 0 auto;
  padding: 0;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 100px
}
.cards__item {
  list-style-type: none;
  width: 240px;
}
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: 43px;
  padding: 0 40px;
}
.cards__title {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.cards__description {
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}
.video {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
.video__iframes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  max-height: 250px;
}
.video__iframe {
  margin-right: 20px;
}
.video__iframe:last-of-type {
  margin-right: 0;
}
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.two-columns {
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns_oakly {
  padding-top: 160px;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}
.digits {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.section-title {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}
.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.table {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  list-style-type: none;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 1;
}
.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.table__text {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.feynman {
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 790px;
}
.feynman__title {
  text-align: center;
  margin: 0 auto;
  max-width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}
.feynman__subtitle {
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 35px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s ease;
}
.feynman__link:hover {
  opacity: .7;
}
.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  animation: rotation 20s infinite linear
}
.section-title_theme_dark {
  color: #f2f2f2;
  margin-top: 90px;
  z-index: 3;
  position: relative;
}
.section-subtitle_theme_dark {
  color: #f2f2f2;
  z-index: 3;
  position: relative;
}
.table_theme_dark {
  margin-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}
.table__heading_theme_dark {
  margin-bottom: 20px;
}

.khan {
  margin: 0;
  background-color: #f2f2f2;
}
.khan__container {
  margin: 0 auto;
  padding-top: 105px;
  width: 80%;
}
.khan__author {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
}
.khan__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}
.khan__quote {
  margin-top: 50px;
  width: 790px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.khan__quote-author {
  margin-top: 36px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.khan__quote-author-subline {
  margin-top: 10px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
}
.khan__book-container {
  margin-top: 68px;
  display: flex;
}
.khan__book-pic {
  width: 608px;
  height: 620px;
  margin-right: 48px;
  object-fit: none;
  object-position: top left;
}
.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s ease;
}
.khan__buy-link:hover {
  opacity: .7;
}
.resources {
  margin-top: 100px;
  /* display: flex; */

}
.resources__logo-zone {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 80px auto 217px;
  width: 1100px;
  justify-content: space-between;
}
.resources__link {
  width: 380px;
  height: 210px;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  align-items: stretch;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  display: flex;
  justify-content: space-between;
  width: 711px;
}
.footer__author {
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  color: white;
  margin: 20px 0 16px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  list-style-type: none;
  opacity: 1;
  transition: opacity .5s ease;
}
.footer__column-link:hover {
  opacity: .7;
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.logo_place_footer {
  height: 32px;
}
