.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  align-self: flex-start;
  opacity: 1;
  transition: opacity .5s ease;
}
.khan__buy-link:hover {
  opacity: .7;
}
